.btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.btn-frac {
    background-image: url("~/math-icons/math-function-mathematical-fraction-48.png");
}

.btn-square-root {
    background-image: url("~/math-icons/math-square-root-function-48.png");
}

.btn-x-root {
    background-image: url("~/math-icons/math-function-root-x-power-n-48.png");
}

.btn-x-power {
    background-image: url("~/math-icons/math-function-mathematical-x-power-n-48.png");
}
