.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}
.btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.math-panel {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    background: #fff;
    border: 1px solid #757575;
    border-radius: 5px;
}

.math-field {
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.math-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0px 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.frac {
    background-image: url("~/math-icons/frac.png");
}
.square-root {
    background-image: url("~/math-icons/square-root.png");
}
.x-power-square-root {
    background-image: url("~/math-icons/x-power-square-root.png");
}
.x-power {
    background-image: url("~/math-icons/x-power.png");
}
.x-sub-power {
    background-image: url("~/math-icons/x-sub-power.png");
}
.sum {
    background-image: url("~/math-icons/sum.png");
}
.prod {
    background-image: url("~/math-icons/prod.png");
}
.int {
    background-image: url("~/math-icons/int.png");
}
.oint {
    background-image: url("~/math-icons/oint.png");
}
.bigwedge {
    background-image: url("~/math-icons/bigwedge.png");
}
.bigvee {
    background-image: url("~/math-icons/bigvee.png");
}
.circ {
    background-image: url("~/math-icons/circ.png");
}
.overleftarrow {
    background-image: url("~/math-icons/overleftarrow.png");
}
.overrightarrow {
    background-image: url("~/math-icons/overrightarrow.png");
}

.alpha {
    background-image: url("~/math-icons/alpha.png");
}
.beta {
    background-image: url("~/math-icons/beta.png");
}
.gamma {
    background-image: url("~/math-icons/gamma.png");
}
.delta {
    background-image: url("~/math-icons/delta.png");
}
.mu {
    background-image: url("~/math-icons/mu.png");
}
.pi {
    background-image: url("~/math-icons/pi.png");
}
.omega {
    background-image: url("~/math-icons/omega.png");
}
.subset {
    background-image: url("~/math-icons/subset.png");
}
.supset {
    background-image: url("~/math-icons/supset.png");
}
.to {
    background-image: url("~/math-icons/to.png");
}
.gets {
    background-image: url("~/math-icons/gets.png");
}
.in {
    background-image: url("~/math-icons/in.png");
}
.notin {
    background-image: url("~/math-icons/notin.png");
}
.ni {
    background-image: url("~/math-icons/ni.png");
}
.infty {
    background-image: url("~/math-icons/infty.png");
}
